In [7]:
from util import *
import numpy as np
import matplotlib.pyplot as plt
from get_connectome import get_connectome, connectome_to_undirected
hemibrain_version = 'v1.2.1'

In [3]:
from neuprint import Client
from neuprint import fetch_neurons, NeuronCriteria as NC, fetch_roi_hierarchy, fetch_primary_rois, fetch_all_rois


auth_token_file = open("flybrain.auth.txt", 'r')
auth_token = next(auth_token_file).strip()
try:
    np_client = Client('neuprint.janelia.org', dataset='hemibrain:' + hemibrain_version, token=auth_token)
    log_msg("neuprint Client set up as `np_Client`, version", np_client.fetch_version())
except:
    np_client = None
    log_msg("neuprint Client set up failed!")

2024 06 13 17:33:39  neuprint Client set up as `np_Client`, version 0.1.0

In [6]:
oviIN_r = 423101189
connectome = get_connectome(oviIN_r, exclude_main_neurons=True, connectome_scope='input', connectome_by_type=True)
connectome

  0%|          | 0/13 [00:00<?, ?it/s]

          type_pre    type_post  weight
0       5-HTPMPD01      CL019_a       1
1       5-HTPMPD01        CL165       1
2       5-HTPMPD01        CL251       2
3       5-HTPMPD01        CL344       1
4       5-HTPMPD01       CRE025       1
...            ...          ...     ...
111796       vpoEN         pC1c       2
111797       vpoEN         pC1d      14
111798       vpoEN         pC1e       2
111799       vpoEN  unspecified       4
111800       vpoEN        vpoDN      29

[111801 rows x 3 columns]

In [8]:
# Get undireced list
connectome_undirected = connectome_to_undirected(connectome)
connectome_undirected

           source   target  weight
0      5-HTPMPD01  CL019_a       1
1      5-HTPMPD01    CL165       1
2      5-HTPMPD01    CL251       2
3      5-HTPMPD01    CL344       1
4      5-HTPMPD01   CRE025       1
...           ...      ...     ...
84639       vpoEN   VES009       1
84640       vpoEN     pC1b       1
84641       vpoEN     pC1c       2
84642       vpoEN     pC1d      14
84643       vpoEN     pC1e       2

[84644 rows x 3 columns]

In [9]:
connectome_undirected.to_csv('inputr_removed_undirected.txt', index=False, header=False)

In [16]:
from format_edgelist import read_graph, write_edges
from pathlib import Path
import sys
from sys import *
myfile = Path('ovi_rtest_undirected.txt')
nodes, degrees, edges = read_graph(myfile, sep=',')
out = Path('ovi_rtest_formatted.txt')
write_edges(out, edges, nodes)

In [10]:
connectome = get_connectome(oviIN_r, exclude_main_neurons=True, connectome_scope='input')
connectome

  0%|          | 0/13 [00:00<?, ?it/s]

        bodyId_pre  bodyId_post  weight
0        234630133    296855409       4
1        234630133    296885362       2
2        234630133    297908595       1
3        234630133    298603730       1
4        234630133    326253554       1
...            ...          ...     ...
241425  7112622044   5813111272       1
241426  7112622044   5813132515      52
241427  7112624972    576566223       1
241428  7112624972    610312734       1
241429  7112624972    827893839       1

[241430 rows x 3 columns]

In [11]:
# Get undireced list
connectome_undirected = connectome_to_undirected(connectome)
connectome_undirected

            source      target  weight
0        234630133   296855409       4
1        234630133   296885362       2
2        234630133   297908595       1
3        234630133   298603730       1
4        234630133   326253554      41
...            ...         ...     ...
197132  7112622044  5813080768      10
197133  7112622044  5813096198       2
197134  7112622044  5813098223       5
197135  7112624972   576566223       1
197136  7112624972   610312734       1

[197137 rows x 3 columns]

In [13]:
connectome_undirected.to_csv('inputr_removed_ids.txt', index=False, header=False)