In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [9]:
# import all txt files in this folder and merge into one dataframe
df005 = pd.read_csv('clustering_result005.txt', sep=' ', header=None)
df01 = pd.read_csv('clustering_result01.txt', sep=' ', header=None)
df025 = pd.read_csv('clustering_result025.txt', sep=' ', header=None)
df05 = pd.read_csv('clustering_result050.txt', sep=' ', header=None)

In [15]:
# merge all dataframes
df = pd.concat([df005, df01, df025, df05], axis=1)
df.columns = ['bodyid','0.05','bodyid1', '0.1','bodyid1', '0.25', 'bodyid1','0.5']
df.drop(columns=['bodyid1'], inplace=True)
df

          bodyid  0.05  0.1  0.25  0.5
0     1003215282     1    1     1    1
1     1005952640     2    2     2    2
2     1006928515     3    3     3    2
3     1007260806     4    4     4    3
4     1008024276     5    5     5    4
...          ...   ...  ...   ...  ...
1827   987117151     2    2    12   23
1828   987273073     8   13    29  211
1829   988567837     7    8    10   11
1830   988909130     7    8    10   11
1831   989228019     7    8    10   11

[1832 rows x 5 columns]

In [17]:
# save to txt file
df.to_csv('clustering_jan2025.txt', sep=',', index=False)