### Creating an undirected list for the oviIN network
This notebook pulls adjacencies from neuprint and then creates one long list of all connections that are first degree associated with the oviIN. The list is then used to find synapses between neurons on the list. That pre/post/weights dataframe is then outputted as a txt file to the generalized modularity density file

In [1]:
from neuprint import Client
c = Client('neuprint.janelia.org', dataset='hemibrain:v1.2.1', token='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJ3MjgyMkBiYXJuYXJkLmVkdSIsImxldmVsIjoibm9hdXRoIiwiaW1hZ2UtdXJsIjoiaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EvQUFjSFR0ZkNzOXEtYlpVbU9GOGRZTFNWRjNtalZPMm5DcUZiNnMzZ0FJREM9czk2LWM_c3o9NTA_c3o9NTAiLCJleHAiOjE4NjU2MzU2Mjd9.CMgpaAWVwPKl4MucHzUFl7M3GTHsriPd73gYvkRvVhA')

In [2]:
import numpy as np
import pandas as pd
import matplotlib

In [3]:
# Imports
from neuprint import fetch_neurons
from neuprint import NeuronCriteria as NC, fetch_simple_connections, SynapseCriteria as SC, fetch_adjacencies

In this cell block we are creating an neuron criteria for oviIN and pulling presynaptic connections and postsynaptic connections from neuprint. The pre and post-synaptic dataframes are then concatenated together to creating one large dataframe (conn1)

We are doing this to find oviIN's full network

In [47]:
# Creating Neuron Criteria
#main_neurons = NC(status='Traced',instance = 'oviIN_R', cropped=False)
main_neurons = NC(status='Traced',type = 'oviIN', cropped=False)
main_neurons

In [ ]:
# Creating two dataframes from pre-synpatic and post synaptic connections of the oviIN
# Pulling adjacencies for the oviIN
post, post_=fetch_adjacencies(main_neurons, None)
pre, pre_ = fetch_adjacencies(None, main_neurons)

In [21]:
not isinstance(main_neurons, list)

True

In [36]:
# for testing purposes
main_neurons = [423101189,485934965]

In [40]:
# for testing purposes
main_neurons = 423101189

In [49]:
# checking whether main_neurons is an integer or a list of integers
not (isinstance(main_neurons, int) or isinstance(main_neurons, list))

True

In [50]:
from neuprint import fetch_neurons
neurons_df, roi_counts_df = fetch_neurons(main_neurons)
neurons_df

,bodyId,instance,type,pre,post,downstream,upstream,mito,size,status,cropped,statusLabel,cellBodyFiber,somaRadius,somaLocation,roiInfo,notes,inputRois,outputRois
0,423101189,oviIN_R,oviIN,6863,23029,60603,23029,2472,10033593370,Traced,False,Roughly traced,None,None,None,"{'SNP(R)': {'pre': 4773, 'post': 13645, 'downs...",None,"[ATL(R), CAN(R), CRE(-ROB,-RUB)(R), CRE(-RUB)(...","[CAN(R), CRE(-ROB,-RUB)(R), CRE(-RUB)(L), CRE(..."
1,485934965,oviIN_L,oviIN,6542,15998,58310,15998,2208,8493821787,Traced,False,Roughly traced,None,None,None,"{'SNP(L)': {'pre': 4184, 'post': 10529, 'downs...",None,"[ATL(L), CRE(-ROB,-RUB)(R), CRE(-RUB)(L), CRE(...","[ATL(L), CRE(-ROB,-RUB)(R), CRE(-RUB)(L), CRE(..."

In [53]:
main_neurons = neurons_df['bodyId'].tolist()
main_neurons

[423101189, 485934965]

In [55]:
# Combining pre and post synaptic cell types into one list 
partners = pd.concat([pre['bodyId'], post['bodyId']]).unique()
partners

array([ 423101189,  234630133,  263674097, ..., 7112625115, 7112625126,
       7112625282])

In [58]:
# Convert 'partners' array to a pandas Series
partners = pd.Series(partners)
partners = partners[~partners.isin(main_neurons)]
partners

1        234630133
2        263674097
3        266187480
4        266187559
5        267214250
           ...
4544    7112624947
4545    7112625063
4546    7112625115
4547    7112625126
4548    7112625282
Length: 4547, dtype: int64

This is just a checkpoint where i wanted to make sure that the types were aligning with what the neuprint database displayed

Note: oviIN appears at the top, connections will include oviIN

In [6]:
# Checking types column
#conn2 = pd.Series(pd.unique(conn1['type'])).dropna()

In [7]:
print(conn2)

0           oviIN
1          SMP505
3          SMP184
4       LHPD2a5_a
5          SMP347
          ...
1375        IB063
1376        IB084
1377       VES003
1378       CRE001
1379       LAL146
Length: 1379, dtype: object

This pulls the full netowrk list of oviIN and drops any repeats or None

Note: This still includes the oviIN

In [37]:
# get connections among the neurons
partners_, connectome = fetch_adjacencies(partners, partners)
connectome

  0%|          | 0/23 [00:00<?, ?it/s]

        bodyId_pre  bodyId_post     roi  weight
0        203253253    203594164  SMP(L)       2
1        203253253    295802733  SMP(R)       1
2        203253253    296194535  SMP(R)       1
3        203253253    296509709  SMP(R)       6
4        203253253    296509709  SLP(R)       1
...            ...          ...     ...     ...
681846  7112625282    674882250  SMP(L)       1
681847  7112625282    769377106  SMP(L)       1
681848  7112625282    800373114  SMP(L)       1
681849  7112625282   1163199311  SMP(L)       1
681850  7112625282   5813062838  SMP(L)       1

[679835 rows x 4 columns]

In [41]:
# get rid of the ROI column and group bodyId_pre and bodyId_post by summing weights across ROIs
connectome = connectome.groupby(['bodyId_pre', 'bodyId_post'], as_index=False)['weight'].sum()
connectome

        bodyId_pre  bodyId_post  weight
0        203253253    203594164       2
1        203253253    295802733       1
2        203253253    296194535       1
3        203253253    296509709       7
4        203253253    296838079      35
...            ...          ...     ...
537211  7112625282    674882250       1
537212  7112625282    769377106       1
537213  7112625282    800373114       1
537214  7112625282   1163199311       1
537215  7112625282   5813062838       1

[537216 rows x 3 columns]

In [38]:
# Finding weights and connections
conn2 = pd.Series(pd.unique(conn1['bodyId'])).dropna()
conn3, conn3_ = fetch_adjacencies(conn2, conn2)

  0%|          | 0/23 [00:00<?, ?it/s]

In [39]:
print(conn3_)

        bodyId_pre  bodyId_post     roi  weight
0        203253253    203594164  SMP(L)       2
1        203253253    295802733  SMP(R)       1
2        203253253    296194535  SMP(R)       1
3        203253253    296509709  SMP(R)       6
4        203253253    296509709  SLP(R)       1
...            ...          ...     ...     ...
681846  7112625282    674882250  SMP(L)       1
681847  7112625282    769377106  SMP(L)       1
681848  7112625282    800373114  SMP(L)       1
681849  7112625282   1163199311  SMP(L)       1
681850  7112625282   5813062838  SMP(L)       1

[679835 rows x 4 columns]

In [43]:
# option to remove low weights
weight_threshold = 10
connectome = connectome[connectome['weight'] >= weight_threshold]
connectome

        bodyId_pre  bodyId_post  weight
4        203253253    296838079      35
5        203253253    296855409      20
6        203253253    296859399      15
12       203253253    326530038      31
38       203253253    515152792      16
...            ...          ...     ...
537182  7112622044   5813087891      29
537184  7112622044   5813089157      21
537190  7112622044   5813123042      13
537192  7112622044   5813132515      52
537195  7112622044   5901221584      74

[49375 rows x 3 columns]

I think that the above should be made into a function that returns a dataframe for the connectome. A separate function can be made for formatting the connectome for the clustering.

This cell was used to check for bidirectionality in the full network and creates a bidrectional dataframe that is then saved as the txt file

Note: This code came from in part from stack exchange (find link)

- Can make this into a function for future use

In [11]:
# Isolating pre and post Ids with weight
df=conn3_[['bodyId_pre','bodyId_post', 'weight']]
undirected_edges = {}  # Dictionary to store the undirected edges and their weights

for index, row in df.iterrows():
    source = row['bodyId_pre']
    target = row['bodyId_post']
    weight = row['weight']

    # Check if the edge already exists in the reverse
    if (target, source) in undirected_edges:
        # Update the weight of the existing edge
        undirected_edges[(target, source)] += weight
    else:
        # Add a new edge to dict
        undirected_edges[(source, target)] = weight

# Create a DataFrame from the undirected edges dictionary
undirected_edgelist = pd.DataFrame(list(undirected_edges.keys()), columns=['source', 'target'])
undirected_edgelist['weight'] = list(undirected_edges.values())

In [ ]:
undirected_edgelist.to_csv("/Users/rw2822/Documents/GitHub/generalized-modularity-density/inputsoutputs.txt", sep=" ", index=None, header=False)

This is a check for the bidirectionality function (to-be) which collapses pairs to their undirected weight values

In [12]:
# Creating test list
# df[df['bodyId_pre'] == 203594164]['bodyId_post'] # Checks to see if this ID has bidirectionality

# Isolates the correct rows of the dataframe
df_short_test = df.iloc[[0, 108, 109,110]]
df_short_test # can save this dataframe

undirected_edges = {}  # Dictionary to store the undirected edges and their weights

for index, row in df_short_test.iterrows():
    source = row['bodyId_pre']
    target = row['bodyId_post']
    weight = row['weight']

    # Check if the edge already exists in the reverse
    if (target, source) in undirected_edges:
        # Update the weight of the existing edge
        undirected_edges[(target, source)] += weight
    else:
        # Add a new edge to dict
        undirected_edges[(source, target)] = weight

# Create a DataFrame from the undirected edges dictionary
undirected_edgelist = pd.DataFrame(list(undirected_edges.keys()), columns=['source', 'target'])
undirected_edgelist['weight'] = list(undirected_edges.values())

In [14]:
df_short_test

     bodyId_pre  bodyId_post  weight
0     203253253    203594164       2
109   203594164    203253253       1
110   203594164    203253253       1
111   203594164    203598466       2

In [13]:
undirected_edgelist

      source     target  weight
0  203253253  203594164       4
1  203594164  203598466       2

A check to make sure that there weren't duplicated connections due to sub-ROIs

In [15]:
df_check = fetch_simple_connections(203594164, 203253253)
df_check

,bodyId_pre,bodyId_post,weight,type_pre,type_post,instance_pre,instance_post,conn_roiInfo
0,203594164,203253253,3,None,SMP505,None,SMP505(PDM22)_L,"{'SNP(L)': {'pre': 2, 'post': 2}, 'SIP(L)': {'..."

In [16]:
df_check = fetch_adjacencies(203594164, 203253253)
df_check

(      bodyId    type         instance
 0  203594164    None             None
 1  203253253  SMP505  SMP505(PDM22)_L,
    bodyId_pre  bodyId_post     roi  weight
 0   203594164    203253253  SIP(L)       1
 1   203594164    203253253  SMP(L)       1
 2   203594164    203253253  SMP(R)       1)

## Creating separate input and output networks
There will be a dataframe for the oviIN's inputs and a dataframe for oviIN's outputs

In [8]:
_, pre_ = fetch_adjacencies(None, n_c)
_, post_=fetch_adjacencies(n_c,None)
pre = pre_.bodyId_pre
post = post_.bodyId_post
inputs = fetch_adjacencies(pre, pre)
outputs = fetch_adjacencies(post, post)

  0%|          | 0/13 [00:00<?, ?it/s]

  0%|          | 0/18 [00:00<?, ?it/s]

In [9]:
only_inputs =inputs[1][['bodyId_pre','bodyId_post','weight']]
only_outputs =outputs[1][['bodyId_pre','bodyId_post','weight']]

In [15]:
undirected_edges = {}  # Dictionary to store the undirected edges and their weights

for index, row in only_outputs.iterrows():
    source = row['bodyId_pre']
    target = row['bodyId_post']
    weight = row['weight']

    # Check if the edge already exists in the opposite direction
    if (target, source) in undirected_edges:
        # Update the weight of the existing edge
        undirected_edges[(target, source)] += weight
    else:
        # Add a new edge to the undirected edges dictionary
        undirected_edges[(source, target)] = weight

# Create a DataFrame from the undirected edges dictionary
undirected_edgelist = pd.DataFrame(list(undirected_edges.keys()), columns=['source', 'target'])
undirected_edgelist['weight'] = list(undirected_edges.values())

In [16]:
only_outputs_r = undirected_edgelist

In [18]:
only_inputs_r

            source      target  weight
0        234630133   296855409       1
1        234630133   296885362       2
2        234630133   297908595       1
3        234630133   298603730       1
4        234630133   326253554      41
...            ...         ...     ...
197132  7112622044  5813080768       3
197133  7112622044  5813096198       2
197134  7112622044  5813098223       1
197135  7112624972   576566223       1
197136  7112624972   610312734       1

[197137 rows x 3 columns]

In [17]:
only_outputs_r

            source      target  weight
0        203253253   203594164       5
1        203253253   295802733       1
2        203253253   296194535       1
3        203253253   296509709      20
4        203253253   296838079       2
...            ...         ...     ...
316460  7112625282   674882250       1
316461  7112625282   769377106       1
316462  7112625282   800373114       1
316463  7112625282  1163199311       1
316464  7112625282  5813062838       1

[316465 rows x 3 columns]

In [19]:
only_outputs_r.to_csv('/Users/rw2822/Documents/GitHub/generalized-modularity-density/only_outputs.txt', sep=" ", index=None, header=False)

In [20]:
only_inputs_r.to_csv('/Users/rw2822/Documents/GitHub/generalized-modularity-density/only_inputs.txt', sep=" ", index=None, header=False)