## Pulling the APL Network from Neuprint and creating undirected lists for modularity program

1. Pulling the network:
    a. Pulls presynaptic and postsynaptic connections of the apl
    b. Creates one list from those neurons and pulls connections from and to that list
2. Creating undirected lists
    a. Run network list through undirected list program

In [10]:
import pandas as pd
from neuprint import Client
c = Client('neuprint.janelia.org', dataset = 'hemibrain:v1.2.1', token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJ3MjgyMkBiYXJuYXJkLmVkdSIsImxldmVsIjoibm9hdXRoIiwiaW1hZ2UtdXJsIjoiaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EvQUFUWEFKeXhTVGZmQnJuWWtLR2JkQkNoTTVWNTkxVFBwYmNHSk9wRFZ4LU89czk2LWM_c3o9NTA_c3o9NTAiLCJleHAiOjE4MjQxMDAwMzd9.rgd5rsbP48Prb5iENzViLRl8TLFBWzW4n8QwoRxIdeQ')
c.fetch_version()

from neuprint import fetch_adjacencies, NeuronCriteria as NC

In [2]:
# 1a. Importing upstream and downstream neurons
crit = NC(bodyId = 425790257)
n_df_in, conn_df_in = fetch_adjacencies(crit, None)
n_df_o, conn_df_o = fetch_adjacencies(None, crit)

# Sorting neuron lists by weight
conn_df_in = conn_df_in.sort_values(by='weight', ascending= False)
conn_df_o = conn_df_o.sort_values(by='weight', ascending= False)

In [3]:
# b. Seperating into a list and appending from upstream and downstream dataframes
neuron_ids = conn_df_o.bodyId_pre._append(conn_df_in.bodyId_post)

In [5]:
# 2a. Creating a singular dataframe to pull undirected list from
conn_df, conn_df_ = fetch_adjacencies(neuron_ids, neuron_ids)

  0%|          | 0/18 [00:00<?, ?it/s]

In [6]:
# Creating a singular dataframe to pull undirected input list from
conn_in, conn_in_ = fetch_adjacencies(conn_df_o.bodyId_pre, conn_df_o.bodyId_pre)

  0%|          | 0/16 [00:00<?, ?it/s]

In [13]:
# Creating a singular dataframe to pull undirected output list from
conn_out, conn_out_ = fetch_adjacencies(conn_df_in.bodyId_post, conn_df_in.bodyId_post)

  0%|          | 0/16 [00:00<?, ?it/s]

In [7]:
# Print full dataframe to check
conn_df_

        bodyId_pre  bodyId_post     roi  weight
0        200326126    264083994  SLP(R)       3
1        200326126    357515217  PLP(R)       2
2        200326126    386829647  PLP(R)       6
3        200326126    387512128  SCL(R)       1
4        200326126    387512128  ICL(R)       1
...            ...          ...     ...     ...
784356  7112626196   5813055923   gL(R)       1
784357  7112626196   5813057191   gL(R)       1
784358  7112626196   5813090997   gL(R)       1
784359  7112626196   5813094364   gL(R)       1
784360  7112626196   5813095523   gL(R)       1

[781662 rows x 4 columns]

In [8]:
#2a. This function creates an undirected list and accounts for bidirectionality
def create_undirected(df):
    undirected_edges = {}  # Dictionary to store the undirected edges and their weights

    for index, row in df.iterrows():
        source = row['bodyId_pre']
        target = row['bodyId_post']
        weight = row['weight']

        # Check if the edge already exists in the reverse
        if (target, source) in undirected_edges:
            # Update the weight of the existing edge
            undirected_edges[(target, source)] += weight
        else:
            # Add a new edge to dict
            undirected_edges[(source, target)] = weight

    # Create a DataFrame from the undirected edges dictionary
    undirected_edgelist = pd.DataFrame(list(undirected_edges.keys()), columns=['source', 'target'])
    undirected_edgelist['weight'] = list(undirected_edges.values())
    return undirected_edgelist

In [11]:
# Creating undirected list from full network
df=conn_df_[['bodyId_pre','bodyId_post', 'weight']]
undirected_full = create_undirected(df)

In [12]:
# print output dataframe to check after editing
undirected_full

            source      target  weight
0        200326126   264083994       3
1        200326126   357515217       2
2        200326126   386829647       6
3        200326126   387512128       2
4        200326126   449241371      12
...            ...         ...     ...
458281  7112626196  5812982766       1
458282  7112626196  5813021289       1
458283  7112626196  5813022119       1
458284  7112626196  5813090997       1
458285  7112626196  5813094364       1

[458286 rows x 3 columns]

In [14]:
# Creating undirected list from full network
df_in=conn_in_[['bodyId_pre','bodyId_post', 'weight']]
undirected_in = create_undirected(df_in)

# Print out created dataframe to check
undirected_in

            source      target  weight
0        268725517   298595394       4
1        268725517   299613480       5
2        268725517   328253133       2
3        268725517   332353336       4
4        268725517   332353438       2
...            ...         ...     ...
428214  7112626196  5812982766       1
428215  7112626196  5813021289       1
428216  7112626196  5813022119       1
428217  7112626196  5813090997       1
428218  7112626196  5813094364       1

[428219 rows x 3 columns]

In [15]:
# Creating undirected list from full network
df_out=conn_out_[['bodyId_pre','bodyId_post', 'weight']]
undirected_out = create_undirected(df_out)

# Print out created dataframe to check
undirected_out

            source      target  weight
0        200326126   264083994       3
1        200326126   386829647       6
2        200326126   387512128       2
3        200326126   454335501       1
4        200326126   479935033       1
...            ...         ...     ...
424495  7112626196  5812982766       1
424496  7112626196  5813021289       1
424497  7112626196  5813022119       1
424498  7112626196  5813090997       1
424499  7112626196  5813094364       1

[424500 rows x 3 columns]

In [16]:
# Save dataframe to csv in APL folder
undirected_full.to_csv('/Users/rw2822/Documents/GitHub/flybrain-clustering/APL/apl_full.txt', sep= ' ', header=False, index=False)

In [17]:
# Save input and output dataframes to APL folder
undirected_in.to_csv('/Users/rw2822/Documents/GitHub/flybrain-clustering/APL/apl_in.txt', sep= ' ', header=False, index=False)
undirected_out.to_csv('/Users/rw2822/Documents/GitHub/flybrain-clustering/APL/apl_out.txt', sep= ' ', header=False, index=False)