## Pulling the APL Network from Neuprint and creating undirected lists for modularity program

1. Pulling the network:
    a. Pulls presynaptic and postsynaptic connections of the apl
    b. Creates one list from those neurons and pulls connections from and to that list
2. Creating undirected lists
    a. Run network list through undirected list program

In [1]:
import pandas 
from neuprint import Client
c = Client('neuprint.janelia.org', dataset = 'hemibrain:v1.2.1', token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJ3MjgyMkBiYXJuYXJkLmVkdSIsImxldmVsIjoibm9hdXRoIiwiaW1hZ2UtdXJsIjoiaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EvQUFUWEFKeXhTVGZmQnJuWWtLR2JkQkNoTTVWNTkxVFBwYmNHSk9wRFZ4LU89czk2LWM_c3o9NTA_c3o9NTAiLCJleHAiOjE4MjQxMDAwMzd9.rgd5rsbP48Prb5iENzViLRl8TLFBWzW4n8QwoRxIdeQ')
c.fetch_version()

from neuprint import fetch_adjacencies, NeuronCriteria as NC

In [7]:
# Importing upstream and downstream neurons
crit = NC(bodyId = 425790257)
n_df_in, conn_df_in = fetch_adjacencies(crit, None)
n_df_o, conn_df_o = fetch_adjacencies(None, crit)

# Sorting neuron lists by weight
conn_df_in = conn_df_in.sort_values(by='weight', ascending= False)
conn_df_o = conn_df_o.sort_values(by='weight', ascending= False)

In [8]:
# Seperating into lists and appending from upstream and downstream dataframes
weights = conn_df_o.weight._append(conn_df_in.weight)
neuron_ids = conn_df_o.bodyId_pre._append(conn_df_in.bodyId_post)
apl = conn_df_o.bodyId_post._append(conn_df_in.bodyId_pre)

In [9]:
# Creating singular dataframe to pull undirected list from
dict = {"NeuronIds": neuron_ids, 'apl': apl, 'Weights': weights}
df = pandas.DataFrame(dict)

In [10]:
# Print full dataframe to check
df

       NeuronIds        apl  Weights
9463  5813105172  425790257     1409
9464  5813105172  425790257      628
9465  5813105172  425790257      628
9466  5813105172  425790257      608
8302  5813022424  425790257      534
...          ...        ...      ...
5321  1203420037  425790257        1
5317  1203070528  425790257        1
5313  1203066201  425790257        1
5312  1203066201  425790257        1
9177  7112626196  425790257        1

[18669 rows x 3 columns]

In [18]:
# print input dataframe to check after editing
df_in = conn_df_in[['bodyId_pre', 'bodyId_post', 'weight']]
df_in

      bodyId_pre  bodyId_post  weight
9033   425790257   5813105172     570
3341   425790257    799586652     562
1804   425790257    612371421     446
7491   425790257   5813020988     397
9034   425790257   5813105172     292
...          ...          ...     ...
5321   425790257   1203420037       1
5317   425790257   1203070528       1
5313   425790257   1203066201       1
5312   425790257   1203066201       1
9177   425790257   7112626196       1

[9123 rows x 3 columns]

In [19]:
# print output dataframe to check after editing
df_o = conn_df_o[['bodyId_pre', 'bodyId_post', 'weight']]
df_o

      bodyId_pre  bodyId_post  weight
9463  5813105172    425790257    1409
9464  5813105172    425790257     628
9465  5813105172    425790257     628
9466  5813105172    425790257     608
8302  5813022424    425790257     534
...          ...          ...     ...
5573  1201093753    425790257       1
5566  1201032707    425790257       1
5555  1200770728    425790257       1
5554  1200757686    425790257       1
9615  7112626196    425790257       1

[9546 rows x 3 columns]

In [11]:
# Save dataframe to csv in APL folder
df.to_csv('/Users/rw2822/Documents/GitHub/flybrain-clustering/APL/FULLunweighted_apl.txt', sep= ' ', header=False, index=False)

In [20]:
# Save input and output dataframes to APL folder
df_in.to_csv('/Users/rw2822/Documents/GitHub/flybrain-clustering/APL/INunweighted_apl.txt', sep= ' ', header=False, index=False)
df_o.to_csv('/Users/rw2822/Documents/GitHub/flybrain-clustering/APL/OUTunweighted_apl.txt', sep= ' ', header=False, index=False)

'/Users/rw2822/Documents/GitHub/gdmapl/'