## Pulling the combined oviIN Network from Neuprint and creating undirected lists for modularity program

1. Pulling the network:
    a. Pulls presynaptic and postsynaptic connections of the apl
    b. Creates one list from those neurons and pulls connections from and to that list
2. Creating undirected lists
    a. Run network list through undirected list program

In [56]:
import pandas as pd
from neuprint import Client
c = Client('neuprint.janelia.org', dataset = 'hemibrain:v1.2.1', token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJ3MjgyMkBiYXJuYXJkLmVkdSIsImxldmVsIjoibm9hdXRoIiwiaW1hZ2UtdXJsIjoiaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EvQUFUWEFKeXhTVGZmQnJuWWtLR2JkQkNoTTVWNTkxVFBwYmNHSk9wRFZ4LU89czk2LWM_c3o9NTA_c3o9NTAiLCJleHAiOjE4MjQxMDAwMzd9.rgd5rsbP48Prb5iENzViLRl8TLFBWzW4n8QwoRxIdeQ')
c.fetch_version()

from neuprint import fetch_adjacencies, NeuronCriteria as NC, fetch_neurons

In [2]:
# 1a. Importing upstream and downstream neurons
crit = NC(bodyId = (423101189, 485934965))
n_df_in, conn_df_in = fetch_adjacencies(crit, None)
n_df_o, conn_df_o = fetch_adjacencies(None, crit)

# Sorting neuron lists by weight
conn_df_in = conn_df_in.sort_values(by='weight', ascending= False)
conn_df_o = conn_df_o.sort_values(by='weight', ascending= False)

In [4]:
# b. Seperating into a list and appending from upstream and downstream dataframes
neuron_ids = conn_df_o.bodyId_pre._append(conn_df_in.bodyId_post).unique().tolist()

In [5]:
# Does it include the two original neurons?
print(423101189 in neuron_ids)
print(485934965 in neuron_ids)

True
True

In [13]:
# 2a. Creating a singular dataframe to pull undirected list from
conn_df, conn_df_ = fetch_adjacencies(neuron_ids, neuron_ids)

  0%|          | 0/32 [00:00<?, ?it/s]

In [104]:
# Creating a singular dataframe to pull undirected input list from
conn_in, conn_in_ = fetch_adjacencies(conn_df_o.bodyId_pre, conn_df_o.bodyId_pre)

  0%|          | 0/19 [00:00<?, ?it/s]

In [105]:
# Creating a singular dataframe to pull undirected output list from
conn_out, conn_out_ = fetch_adjacencies(conn_df_in.bodyId_post, conn_df_in.bodyId_post)

  0%|          | 0/24 [00:00<?, ?it/s]

In [8]:
conn_df

          bodyId    type         instance
0      203253253  SMP505  SMP505(PDM22)_L
1      203594164    None             None
2      203598466    None             None
3      204621549    None             None
4      204958353    None             None
...          ...     ...              ...
6338  7112625115    None             None
6339  7112625126    None             None
6340  7112625282    None             None
6341  7112625310    None             None
6342  7112626236    None             None

[6343 rows x 3 columns]

In [29]:
conn_df['bodyId_pre'] = conn_df.bodyId.astype(int)
conn_df['bodyId_post'] = conn_df.bodyId.astype(int)
# Rename type to type post
conn_df = conn_df.rename(columns = {'type_post': 'type'})
conn_df

          bodyId    type         instance  bodyId_pre  bodyId_post
0      203253253  SMP505  SMP505(PDM22)_L   203253253    203253253
1      203594164    None             None   203594164    203594164
2      203598466    None             None   203598466    203598466
3      204621549    None             None   204621549    204621549
4      204958353    None             None   204958353    204958353
...          ...     ...              ...         ...          ...
6338  7112625115    None             None  7112625115   7112625115
6339  7112625126    None             None  7112625126   7112625126
6340  7112625282    None             None  7112625282   7112625282
6341  7112625310    None             None  7112625310   7112625310
6342  7112626236    None             None  7112626236   7112626236

[6343 rows x 5 columns]

In [32]:
conn_df_left = conn_df[['bodyId_pre', 'type']].copy()
conn_df_right = conn_df[['bodyId_post','type']].copy()
conn_df_right

      bodyId_post    type
0       203253253  SMP505
1       203594164    None
2       203598466    None
3       204621549    None
4       204958353    None
...           ...     ...
6338   7112625115    None
6339   7112625126    None
6340   7112625282    None
6341   7112625310    None
6342   7112626236    None

[6343 rows x 2 columns]

In [28]:
conn_df_

        bodyId_pre  bodyId_post     roi  weight
0        203253253    203594164  SMP(L)       2
1        203253253    204621549  SMP(L)       1
2        203253253    235657073  SMP(L)       2
3        203253253    295802733  SMP(R)       1
4        203253253    296194535  SMP(R)       1
...            ...          ...     ...     ...
871264  7112625282   5813082723  SMP(L)       1
871265  7112625282   5813089803  SMP(L)       1
871266  7112626236    329098346  SMP(L)       1
871267  7112626236    576683512  SMP(L)       1
871268  7112626236   5813034596  SMP(L)       1

[868673 rows x 4 columns]

In [33]:
full_pre = conn_df_.merge(conn_df_left, on = 'bodyId_pre', how = 'left')
full_pre

        bodyId_pre  bodyId_post     roi  weight    type
0        203253253    203594164  SMP(L)       2  SMP505
1        203253253    204621549  SMP(L)       1  SMP505
2        203253253    235657073  SMP(L)       2  SMP505
3        203253253    295802733  SMP(R)       1  SMP505
4        203253253    296194535  SMP(R)       1  SMP505
...            ...          ...     ...     ...     ...
868668  7112625282   5813082723  SMP(L)       1    None
868669  7112625282   5813089803  SMP(L)       1    None
868670  7112626236    329098346  SMP(L)       1    None
868671  7112626236    576683512  SMP(L)       1    None
868672  7112626236   5813034596  SMP(L)       1    None

[868673 rows x 5 columns]

In [41]:
full = full_pre.merge(conn_df_right, on = 'bodyId_post', how = 'right')
#full.bodyId_post = full.bodyId_post.astype('Int64')
full.bodyId_pre = full.bodyId_pre.astype('Int64')
full.weight = full.weight.astype('Int64')
full = full.rename(columns = {'type_x': 'type_pre', 'type_y': 'type_post'})

In [42]:
full

        bodyId_pre  bodyId_post     roi  weight type_pre type_post
0        203594164    203253253  SIP(L)       1     None    SMP505
1        203594164    203253253  SMP(L)       1     None    SMP505
2        203594164    203253253  SMP(R)       1     None    SMP505
3        203598466    203253253  SMP(L)      15     None    SMP505
4        203598466    203253253  SIP(L)       6     None    SMP505
...            ...          ...     ...     ...      ...       ...
868766   920108605   7112626236  SMP(L)       1     None      None
868767  1131836229   7112626236  SMP(L)       1     FB4C      None
868768  5812980743   7112626236  SMP(L)       3   SMP151      None
868769  5813011443   7112626236  SMP(L)       1   SMP462      None
868770  5813020803   7112626236  SMP(L)       1   SMP186      None

[868771 rows x 6 columns]

In [79]:
df=full[['type_pre','type_post', 'weight']]
df

       type_pre type_post  weight
0          None    SMP505       1
1          None    SMP505       1
2          None    SMP505       1
3          None    SMP505      15
4          None    SMP505       6
...         ...       ...     ...
868766     None      None       1
868767     FB4C      None       1
868768   SMP151      None       3
868769   SMP462      None       1
868770   SMP186      None       1

[868771 rows x 3 columns]

In [55]:
#df['type_post'].unique().tolist()
#df['type_pre'].unique().tolist()
# compare the two lists for differences
df['type_post'].compare(df['type_pre'])

          self   other
0       SMP505    None
1       SMP505    None
2       SMP505    None
3       SMP505    None
4       SMP505    None
...        ...     ...
868765    None  SMP151
868767    None    FB4C
868768    None  SMP151
868769    None  SMP462
868770    None  SMP186

[805386 rows x 2 columns]

In [114]:
conn_in

      bodyId_post       type         instance  bodyId_pre
0       204958872       None             None   204958872
1       234630133     SMP184  SMP184(PDL05)_L   234630133
2       263674097  LHPD2a5_a      LHPD2a5_a_R   263674097
3       266187383     SMP347         SMP347_R   266187383
4       266187480     SMP349         SMP349_R   266187480
...           ...        ...              ...         ...
3738   6400000773     SMP411         SMP411_R  6400000773
3739   7112615101       None             None  7112615101
3740   7112616205       None             None  7112616205
3741   7112622044     LAL137  LAL137(PVL05)_L  7112622044
3742   7112624972       None             None  7112624972

[3743 rows x 4 columns]

In [136]:
pre = conn_in[['bodyId_pre', 'type']]
post = conn_in[['bodyId_post', 'type']]

In [137]:
post

      bodyId_post       type
0       204958872       None
1       234630133     SMP184
2       263674097  LHPD2a5_a
3       266187383     SMP347
4       266187480     SMP349
...           ...        ...
3738   6400000773     SMP411
3739   7112615101       None
3740   7112616205       None
3741   7112622044     LAL137
3742   7112624972       None

[3743 rows x 2 columns]

In [142]:
#conn_in['bodyId_pre'] = conn_in.bodyId.astype(int)
#conn_in.rename(columns = {'bodyId':'bodyId_post'}, inplace = True)
in_pre = conn_in_.merge(pre, on = 'bodyId_pre', how = 'right', suffixes=('_pre', '_post'))
in_ = in_pre.merge(post, on = 'bodyId_post', how = 'right',suffixes=('_pre', '_post') )
in_.bodyId_post = in_.bodyId_post.astype('Int64')
in_.bodyId_pre = in_.bodyId_pre.astype('Int64')
in_

        bodyId_pre  bodyId_post     roi  weight type_pre type_post
0        328265389    204958872  SMP(L)     1.0   SMP082      None
1        328943204    204958872  SMP(L)     1.0   SMP181      None
2        329310230    204958872  SMP(L)     2.0   SMP082      None
3        330415332    204958872  SMP(L)     1.0   SMP513      None
4        330640044    204958872  SMP(L)     1.0   SMP181      None
...            ...          ...     ...     ...      ...       ...
466741   827893839   7112624972  SMP(R)     3.0     None      None
466742  1076168044   7112624972  CRE(R)     1.0     None      None
466743  5813019560   7112624972  CRE(R)     2.0   SMP562      None
466744  5813022375   7112624972  CRE(R)     3.0    IB017      None
466745  5813041169   7112624972  CRE(R)     1.0   SMP009      None

[466746 rows x 6 columns]

In [139]:
in_

        bodyId_pre  bodyId_post     roi  weight    type
0        204958872    298254517  SMP(L)       3    None
1        204958872    328943204  SMP(L)       3    None
2        204958872    329310230  SMP(L)       1    None
3        204958872    330415332  SMP(L)       4    None
4        204958872    360138182  SMP(L)       2    None
...            ...          ...     ...     ...     ...
466631  7112622044   7112616205  SMP(L)       1  LAL137
466632  7112624972    423101189  CRE(R)       1    None
466633  7112624972    576566223  CRE(R)       1    None
466634  7112624972    610312734  CRE(R)       1    None
466635  7112624972    827893839  SMP(R)       1    None

[466636 rows x 5 columns]

In [123]:
conn_out

      bodyId_post    type         instance  bodyId_pre
0       203253253  SMP505  SMP505(PDM22)_L   203253253
1       203594164    None             None   203594164
2       203598466    None             None   203598466
3       204621549    None             None   204621549
4       204958353    None             None   204958353
...           ...     ...              ...         ...
4788   7112625115    None             None  7112625115
4789   7112625126    None             None  7112625126
4790   7112625282    None             None  7112625282
4791   7112625310    None             None  7112625310
4792   7112626236    None             None  7112626236

[4793 rows x 4 columns]

In [149]:
#conn_out['bodyId_pre'] = conn_out.bodyId.astype(int)
#conn_out.rename(columns = {'bodyId':'bodyId_post'}, inplace = True)
pre = conn_out[['bodyId_pre', 'type']]
post = conn_out[['bodyId_post', 'type']]
out_pre = conn_out_.merge(pre, on = 'bodyId_pre', how = 'right',suffixes=('_pre', '_post'))
out_ = out_pre.merge(post, on = 'bodyId_post', how = 'right', suffixes=('_pre', '_post'))
out_.bodyId_post = out_.bodyId_post.astype('Int64')
#out_.bodyId_pre = out_.bodyId_pre.astype('Int64')
out_

        bodyId_pre  bodyId_post     roi  weight type_pre type_post
0        203594164    203253253  SIP(L)     1.0     None    SMP505
1        203594164    203253253  SMP(L)     1.0     None    SMP505
2        203594164    203253253  SMP(R)     1.0     None    SMP505
3        203598466    203253253  SMP(L)    15.0     None    SMP505
4        203598466    203253253  SIP(L)     6.0     None    SMP505
...            ...          ...     ...     ...      ...       ...
646945   578254032   7112626236  SMP(L)     2.0   SMP151      None
646946   920108605   7112626236  SMP(L)     1.0     None      None
646947  1131836229   7112626236  SMP(L)     1.0     FB4C      None
646948  5813011443   7112626236  SMP(L)     1.0   SMP462      None
646949  5813020803   7112626236  SMP(L)     1.0   SMP186      None

[646950 rows x 6 columns]

In [45]:
#2b. This function creates an undirected list and accounts for bidirectionality
def create_undirected(df):
    undirected_edges = {}  # Dictionary to store the undirected edges and their weights

    for index, row in df.iterrows():
        source = row['type_pre']
        target = row['type_post']
        weight = row['weight']

        # Check if the edge already exists in the reverse
        if (target, source) in undirected_edges:
            # Update the weight of the existing edge
            undirected_edges[(target, source)] += weight
        else:
            # Add a new edge to dict
            undirected_edges[(source, target)] = weight

    # Create a DataFrame from the undirected edges dictionary
    undirected_edgelist = pd.DataFrame(list(undirected_edges.keys()), columns=['source', 'target'])
    undirected_edgelist['weight'] = list(undirected_edges.values())
    return undirected_edgelist

In [46]:
# Creating undirected list from full network
#df=full[['bodyId_pre','bodyId_post', 'weight']]
undirected_full = create_undirected(df)

In [156]:
# print output dataframe to check after editing
undirected_full = undirected_full.fillna('None')

In [153]:
# Creating undirected list from full network
df_in=in_[['type_pre','type_post', 'weight']]
undirected_in = create_undirected(df_in)

# Print out created dataframe to check
undirected_in.fillna('None')

       source  target weight
0      SMP082    None    3.0
1      SMP181    None    1.0
2      SMP513    None    2.0
3      SMP108    None    1.0
4       oviIN    None    1.0
...       ...     ...    ...
98163  CRE086  LAL137    2.0
98164  LAL121  LAL137    7.0
98165  ATL035  LAL137    1.0
98166  PLP123  LAL137    2.0
98167    FB5D  LAL137    1.0

[98168 rows x 3 columns]

In [158]:
undirected_in = undirected_in.fillna('None')

In [164]:
# Creating undirected list from full network
df_out=out_[['type_pre','type_post', 'weight']]
undirected_out = create_undirected(df_out)

# Print out created dataframe to check
undirected_out.fillna('None')

        source  target  weight
0         None  SMP505    46.0
1       SMP352  SMP505     1.0
2       SMP499  SMP505     8.0
3       SMP338  SMP505     1.0
4       SMP082  SMP505    20.0
...        ...     ...     ...
138911  CRE086  LAL137     2.0
138912  VES078  LAL137     3.0
138913  PLP123  LAL137     2.0
138914    FB4N  LAL137     1.0
138915    FB5D  LAL137     1.0

[138916 rows x 3 columns]

In [165]:
undirected_out = undirected_out.fillna('None')

In [166]:
# Save dataframe to csv in oviIN_combined folder
undirected_full.to_csv('/Users/rhessa/flybrain-clustering/oviIN_celltype/oviIN_combined/ovicell_full.txt', sep= ' ', header=False, index=False)
# Save input and output dataframes to oviIN_combined folder
undirected_in.to_csv('/Users/rhessa/flybrain-clustering/oviIN_celltype/oviIN_combined/ovicell_in.txt', sep= ' ', header=False, index=False)
undirected_out.to_csv('/Users/rhessa/flybrain-clustering/oviIN_celltype/oviIN_combined/ovicell_out.txt', sep= ' ', header=False, index=False)

In [57]:
# Section to create numbered celltypes
all_info, roi_info = fetch_neurons(NC(status='Traced'))

/Users/rhessa/miniconda3/envs/flybrainlab/lib/python3.11/site-packages/neuprint/client.py:609: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  neuron_props_val = df_results.iloc[0][0]

In [62]:
all_cells = all_info['type'].unique()
all_cells

array([None, 'CL141', 'FS4C', ..., 'aMe6b', 'AVLP534', 'SLP169'],
      dtype=object)

In [110]:
# Create dictionary of celltypes with the values as increasing 4 digit numbers
# i want the first number to be 0000, then 0001, 0002, etc
cell_dict = {}

for i, cell in enumerate(all_cells):
    cell_dict[cell] = str(i+1).zfill(8)

In [111]:
df=full[['type_pre','type_post', 'weight']]
df

       type_pre type_post  weight
0          None    SMP505       1
1          None    SMP505       1
2          None    SMP505       1
3          None    SMP505      15
4          None    SMP505       6
...         ...       ...     ...
868766     None      None       1
868767     FB4C      None       1
868768   SMP151      None       3
868769   SMP462      None       1
868770   SMP186      None       1

[868771 rows x 3 columns]

In [112]:
# now take df and create a column that replaces the celltype with the number
df['type_pre_num'] = df['type_pre'].map(cell_dict)
df['type_post_num'] = df['type_post'].map(cell_dict)
df = df[['type_pre_num', 'type_post_num', 'weight']]
#
df

/var/folders/kn/8dwfcxtd2p3c4kzb8yj0j5pr0000gn/T/ipykernel_27040/3437443753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['type_pre_num'] = df['type_pre'].map(cell_dict)
/var/folders/kn/8dwfcxtd2p3c4kzb8yj0j5pr0000gn/T/ipykernel_27040/3437443753.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['type_post_num'] = df['type_post'].map(cell_dict)

       type_pre_num type_post_num  weight
0          00000001      00000005       1
1          00000001      00000005       1
2          00000001      00000005       1
3          00000001      00000005      15
4          00000001      00000005       6
...             ...           ...     ...
868766     00000001      00000001       1
868767     00003455      00000001       1
868768     00001589      00000001       3
868769     00000679      00000001       1
868770     00000443      00000001       1

[868771 rows x 3 columns]

In [117]:
df = df.rename(columns = {'type_pre_num': 'type_pre', 'type_post_num': 'type_post'})
undirected_full = create_undirected(df)
undirected_full.fillna('None')
undirected_full

          source    target weight
0       00000001  00000005     48
1       00000032  00000005      1
2       00000137  00000005      8
3       00000219  00000005      1
4       00000234  00000005     20
...          ...       ...    ...
177354  00001954  00005616      1
177355  00003661  00005616      3
177356  00005326  00005616      2
177357  00002017  00005616      1
177358  00002836  00005616      1

[177359 rows x 3 columns]

In [130]:
# change source and target to floats
#undirected_full['source'] = undirected_full['source'].astype(str)
#undirected_full['target'] = undirected_full['target'].astype(str)
undirected_full = undirected_full.dropna()

In [132]:
undirected_full

          source    target weight
0       00000001  00000005     48
1       00000032  00000005      1
2       00000137  00000005      8
3       00000219  00000005      1
4       00000234  00000005     20
...          ...       ...    ...
177354  00001954  00005616      1
177355  00003661  00005616      3
177356  00005326  00005616      2
177357  00002017  00005616      1
177358  00002836  00005616      1

[177358 rows x 3 columns]

In [133]:
undirected_full.to_csv('/Users/rhessa/flybrain-clustering/oviIN_celltype/oviIN_combined/full/ovicell_full.txt', sep= ',', header=False, index=False)

In [129]:
undirected_full[undirected_full['weight'].isna()==True]

      source    target weight
85215    NaN  00000001   <NA>

In [121]:
import numpy as np