## Pulling the combined oviIN Network from Neuprint and creating undirected lists for modularity program

1. Pulling the network:
    a. Pulls presynaptic and postsynaptic connections of the apl
    b. Creates one list from those neurons and pulls connections from and to that list
2. Creating undirected lists
    a. Run network list through undirected list program

In [2]:
import pandas as pd
from neuprint import Client
c = Client('neuprint.janelia.org', dataset = 'hemibrain:v1.2.1', token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJ3MjgyMkBiYXJuYXJkLmVkdSIsImxldmVsIjoibm9hdXRoIiwiaW1hZ2UtdXJsIjoiaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EvQUFUWEFKeXhTVGZmQnJuWWtLR2JkQkNoTTVWNTkxVFBwYmNHSk9wRFZ4LU89czk2LWM_c3o9NTA_c3o9NTAiLCJleHAiOjE4MjQxMDAwMzd9.rgd5rsbP48Prb5iENzViLRl8TLFBWzW4n8QwoRxIdeQ')
c.fetch_version()

from neuprint import fetch_adjacencies, NeuronCriteria as NC

In [49]:
# 1a. Importing upstream and downstream neurons
crit = NC(bodyId = (423101189, 485934965))
n_df_in, conn_df_in = fetch_adjacencies(crit, None)
n_df_o, conn_df_o = fetch_adjacencies(None, crit)

# Sorting neuron lists by weight
conn_df_in = conn_df_in.sort_values(by='weight', ascending= False)
conn_df_o = conn_df_o.sort_values(by='weight', ascending= False)

In [50]:
# b. Seperating into a list and appending from upstream and downstream dataframes
neuron_ids = conn_df_o.bodyId_pre._append(conn_df_in.bodyId_post).unique().tolist()

In [51]:
# 2a. Creating a singular dataframe to pull undirected list from
conn_df, conn_df_ = fetch_adjacencies(neuron_ids, neuron_ids)

  0%|          | 0/32 [00:00<?, ?it/s]

In [104]:
# Creating a singular dataframe to pull undirected input list from
conn_in, conn_in_ = fetch_adjacencies(conn_df_o.bodyId_pre, conn_df_o.bodyId_pre)

  0%|          | 0/19 [00:00<?, ?it/s]

In [105]:
# Creating a singular dataframe to pull undirected output list from
conn_out, conn_out_ = fetch_adjacencies(conn_df_in.bodyId_post, conn_df_in.bodyId_post)

  0%|          | 0/24 [00:00<?, ?it/s]

In [98]:
conn_df['bodyId_pre'] = conn_df.bodyId_post.astype(int)
conn_df

      bodyId_post type_post         instance  bodyId_pre
0       203253253    SMP505  SMP505(PDM22)_L   203253253
1       203594164      None             None   203594164
2       203598466      None             None   203598466
3       204621549      None             None   204621549
4       204958353      None             None   204958353
...           ...       ...              ...         ...
6338   7112625115      None             None  7112625115
6339   7112625126      None             None  7112625126
6340   7112625282      None             None  7112625282
6341   7112625310      None             None  7112625310
6342   7112626236      None             None  7112626236

[6343 rows x 4 columns]

In [103]:
conn_df['type_post'].dropna()

0          SMP505
8          SMP184
10           FB7I
11      LHPD2a5_a
12      LHPD2a5_a
          ...
6307       LAL137
6309       SLP422
6322       SMP272
6326       SMP411
6332       LAL137
Name: type_post, Length: 3126, dtype: object

In [93]:
full_pre = conn_df_.merge(conn_df, on = 'bodyId_pre', how = 'right')
full = full_pre.merge(conn_df, on = 'bodyId_post', how = 'right')
full.bodyId_post = full.bodyId_post.astype('Int64')
full.bodyId_pre = full.bodyId_pre.astype('Int64')

In [99]:
df=full[['type_pre','type_post', 'weight']]
df

       type_pre type_post  weight
0          None    SMP505     1.0
1          None    SMP505     1.0
2          None    SMP505     1.0
3          None    SMP505    15.0
4          None    SMP505     6.0
...         ...       ...     ...
868766     None      None     1.0
868767     FB4C      None     1.0
868768   SMP151      None     3.0
868769   SMP462      None     1.0
868770   SMP186      None     1.0

[868771 rows x 3 columns]

In [127]:
df

       type_pre type_post  weight
0          None    SMP505     1.0
1          None    SMP505     1.0
2          None    SMP505     1.0
3          None    SMP505    15.0
4          None    SMP505     6.0
...         ...       ...     ...
868766     None      None     1.0
868767     FB4C      None     1.0
868768   SMP151      None     3.0
868769   SMP462      None     1.0
868770   SMP186      None     1.0

[868771 rows x 3 columns]

In [114]:
conn_in

      bodyId_post       type         instance  bodyId_pre
0       204958872       None             None   204958872
1       234630133     SMP184  SMP184(PDL05)_L   234630133
2       263674097  LHPD2a5_a      LHPD2a5_a_R   263674097
3       266187383     SMP347         SMP347_R   266187383
4       266187480     SMP349         SMP349_R   266187480
...           ...        ...              ...         ...
3738   6400000773     SMP411         SMP411_R  6400000773
3739   7112615101       None             None  7112615101
3740   7112616205       None             None  7112616205
3741   7112622044     LAL137  LAL137(PVL05)_L  7112622044
3742   7112624972       None             None  7112624972

[3743 rows x 4 columns]

In [136]:
pre = conn_in[['bodyId_pre', 'type']]
post = conn_in[['bodyId_post', 'type']]

In [137]:
post

      bodyId_post       type
0       204958872       None
1       234630133     SMP184
2       263674097  LHPD2a5_a
3       266187383     SMP347
4       266187480     SMP349
...           ...        ...
3738   6400000773     SMP411
3739   7112615101       None
3740   7112616205       None
3741   7112622044     LAL137
3742   7112624972       None

[3743 rows x 2 columns]

In [142]:
#conn_in['bodyId_pre'] = conn_in.bodyId.astype(int)
#conn_in.rename(columns = {'bodyId':'bodyId_post'}, inplace = True)
in_pre = conn_in_.merge(pre, on = 'bodyId_pre', how = 'right', suffixes=('_pre', '_post'))
in_ = in_pre.merge(post, on = 'bodyId_post', how = 'right',suffixes=('_pre', '_post') )
in_.bodyId_post = in_.bodyId_post.astype('Int64')
in_.bodyId_pre = in_.bodyId_pre.astype('Int64')
in_

        bodyId_pre  bodyId_post     roi  weight type_pre type_post
0        328265389    204958872  SMP(L)     1.0   SMP082      None
1        328943204    204958872  SMP(L)     1.0   SMP181      None
2        329310230    204958872  SMP(L)     2.0   SMP082      None
3        330415332    204958872  SMP(L)     1.0   SMP513      None
4        330640044    204958872  SMP(L)     1.0   SMP181      None
...            ...          ...     ...     ...      ...       ...
466741   827893839   7112624972  SMP(R)     3.0     None      None
466742  1076168044   7112624972  CRE(R)     1.0     None      None
466743  5813019560   7112624972  CRE(R)     2.0   SMP562      None
466744  5813022375   7112624972  CRE(R)     3.0    IB017      None
466745  5813041169   7112624972  CRE(R)     1.0   SMP009      None

[466746 rows x 6 columns]

In [139]:
in_

        bodyId_pre  bodyId_post     roi  weight    type
0        204958872    298254517  SMP(L)       3    None
1        204958872    328943204  SMP(L)       3    None
2        204958872    329310230  SMP(L)       1    None
3        204958872    330415332  SMP(L)       4    None
4        204958872    360138182  SMP(L)       2    None
...            ...          ...     ...     ...     ...
466631  7112622044   7112616205  SMP(L)       1  LAL137
466632  7112624972    423101189  CRE(R)       1    None
466633  7112624972    576566223  CRE(R)       1    None
466634  7112624972    610312734  CRE(R)       1    None
466635  7112624972    827893839  SMP(R)       1    None

[466636 rows x 5 columns]

In [123]:
conn_out

      bodyId_post    type         instance  bodyId_pre
0       203253253  SMP505  SMP505(PDM22)_L   203253253
1       203594164    None             None   203594164
2       203598466    None             None   203598466
3       204621549    None             None   204621549
4       204958353    None             None   204958353
...           ...     ...              ...         ...
4788   7112625115    None             None  7112625115
4789   7112625126    None             None  7112625126
4790   7112625282    None             None  7112625282
4791   7112625310    None             None  7112625310
4792   7112626236    None             None  7112626236

[4793 rows x 4 columns]

In [149]:
#conn_out['bodyId_pre'] = conn_out.bodyId.astype(int)
#conn_out.rename(columns = {'bodyId':'bodyId_post'}, inplace = True)
pre = conn_out[['bodyId_pre', 'type']]
post = conn_out[['bodyId_post', 'type']]
out_pre = conn_out_.merge(pre, on = 'bodyId_pre', how = 'right',suffixes=('_pre', '_post'))
out_ = out_pre.merge(post, on = 'bodyId_post', how = 'right', suffixes=('_pre', '_post'))
out_.bodyId_post = out_.bodyId_post.astype('Int64')
#out_.bodyId_pre = out_.bodyId_pre.astype('Int64')
out_

        bodyId_pre  bodyId_post     roi  weight type_pre type_post
0        203594164    203253253  SIP(L)     1.0     None    SMP505
1        203594164    203253253  SMP(L)     1.0     None    SMP505
2        203594164    203253253  SMP(R)     1.0     None    SMP505
3        203598466    203253253  SMP(L)    15.0     None    SMP505
4        203598466    203253253  SIP(L)     6.0     None    SMP505
...            ...          ...     ...     ...      ...       ...
646945   578254032   7112626236  SMP(L)     2.0   SMP151      None
646946   920108605   7112626236  SMP(L)     1.0     None      None
646947  1131836229   7112626236  SMP(L)     1.0     FB4C      None
646948  5813011443   7112626236  SMP(L)     1.0   SMP462      None
646949  5813020803   7112626236  SMP(L)     1.0   SMP186      None

[646950 rows x 6 columns]

In [129]:
#2b. This function creates an undirected list and accounts for bidirectionality
def create_undirected(df):
    undirected_edges = {}  # Dictionary to store the undirected edges and their weights

    for index, row in df.iterrows():
        source = row['type_pre']
        target = row['type_post']
        weight = row['weight']

        # Check if the edge already exists in the reverse
        if (target, source) in undirected_edges:
            # Update the weight of the existing edge
            undirected_edges[(target, source)] += weight
        else:
            # Add a new edge to dict
            undirected_edges[(source, target)] = weight

    # Create a DataFrame from the undirected edges dictionary
    undirected_edgelist = pd.DataFrame(list(undirected_edges.keys()), columns=['source', 'target'])
    undirected_edgelist['weight'] = list(undirected_edges.values())
    return undirected_edgelist

In [130]:
# Creating undirected list from full network
#df=full[['bodyId_pre','bodyId_post', 'weight']]
undirected_full = create_undirected(df)

In [131]:
# print output dataframe to check after editing
undirected_full

        source  target  weight
0         None  SMP505    48.0
1       SMP352  SMP505     1.0
2       SMP499  SMP505     8.0
3       SMP338  SMP505     1.0
4       SMP082  SMP505    20.0
...        ...     ...     ...
177354  ATL035  LAL137     1.0
177355  VES078  LAL137     3.0
177356  PLP123  LAL137     2.0
177357    FB4N  LAL137     1.0
177358    FB5D  LAL137     1.0

[177359 rows x 3 columns]

In [148]:
# Creating undirected list from full network
df_in=in_[['type_pre','type_post', 'weight']]
undirected_in = create_undirected(df_in)

# Print out created dataframe to check
undirected_in

       source  target  weight
0      SMP082    None     3.0
1      SMP181    None     1.0
2      SMP513    None     2.0
3      SMP108    None     1.0
4       oviIN    None     1.0
...       ...     ...     ...
98163  CRE086  LAL137     2.0
98164  LAL121  LAL137     7.0
98165  ATL035  LAL137     1.0
98166  PLP123  LAL137     2.0
98167    FB5D  LAL137     1.0

[98168 rows x 3 columns]

In [150]:
# Creating undirected list from full network
df_out=out_[['type_pre','type_post', 'weight']]
undirected_out = create_undirected(df_out)

# Print out created dataframe to check
undirected_out

        source  target  weight
0         None  SMP505    46.0
1       SMP352  SMP505     1.0
2       SMP499  SMP505     8.0
3       SMP338  SMP505     1.0
4       SMP082  SMP505    20.0
...        ...     ...     ...
138911  CRE086  LAL137     2.0
138912  VES078  LAL137     3.0
138913  PLP123  LAL137     2.0
138914    FB4N  LAL137     1.0
138915    FB5D  LAL137     1.0

[138916 rows x 3 columns]

In [151]:
# Save dataframe to csv in oviIN_combined folder
undirected_full.to_csv('/Users/rhessa/flybrain-clustering/oviIN_celltype/ovicell_full.txt', sep= ' ', header=False, index=False)
# Save input and output dataframes to oviIN_combined folder
undirected_in.to_csv('/Users/rhessa/flybrain-clustering/oviIN_celltype/ovicell_in.txt', sep= ' ', header=False, index=False)
undirected_out.to_csv('/Users/rhessa/flybrain-clustering/oviIN_celltype/ovicell_out.txt', sep= ' ', header=False, index=False)